/* Cores */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
    /* Cores */
    --BackgroundPadrao: rgb(195, 195, 254);

    /* Fontes */
    --Fjalla-One: 'Fjalla One', sans-serif;
}

body {
    background-color: var(--BackgroundPadrao);
    font-family: var(--Fjalla-One)
}

/* .container {

} */

